.section2_edit-profile{
	padding-top: 50px;
	padding-bottom: 100px;
}
.title-edit-profile{
	text-align: center;
	font-weight: 600;
}
.edit-avatar{
	width: 250px;
    text-align: center;
    position: relative;
}
.img_avatar{
	max-width: 100%;
	vertical-align: middle;
}
.choosefile-avatar-links{
width: 50px;
    height: 50px;
    background: #ccc;
  
    border-radius: 50%;
}
.icon-change-avatar{
	font-size: 36px;
	line-height: 50px;
	position: relative;
    cursor: pointer;
    z-index: 10;
}
.input-avatar{
	    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.choosefile-avatar{
	    position: absolute;
    top: 80%;
    right: 10%;
}
/*col-md-8*/
.edit-profile-detail{
	padding-left: 30px;
    font-size: 20px;
}
input{
	    border: none;
    border-bottom: 1px solid rgba(47, 47, 47, 0.5);
    font-size: 20px;
    outline: none;
 

}
.import_value{
	    margin: 20px 0;
}
.input_name-edit,.import_value--base-edit{
	float: right;
	width: 70%;
}
.sex-choose{
	float: right;
	width: 70%;
	border-bottom: 1px solid rgba(47, 47, 47, 0.5);
}
.import_text-story{
	resize: none;
	float: right;
	width: 70%;
	outline: none;
	height:  150px;
}
.text-textarea{
	height: 150px;
}
.submit-edit-proflie{
	border: none;
    background: #e27142;
    color: #fff;
    font-size: 30px;
    padding: 0px 40px;
    float: right;
    margin-top: 30px;
    outline: none;
    transition: 0.3s;

}
.submit-edit-proflie:hover{
	background: #ff4b00;
}