.section2-employee1{
	padding: 50px 0;
}
.title-employee1{
	text-align: center;
	margin-bottom: 30px; 
	font-weight: 500;
}
.slick-dots li button:before{

	color: red !important;
}
img{
	max-width: 100%;
}
.slick-active {
	transform: scale(15%);
}
